XSD/01.basico/formacion.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified" targetNamespace="urn:xlmns:fcion">
<xs:element name="formacion">
  <xs:complexType>
    <xs:all> <!-- all / choice / sequence -->
      <xs:element name="arquero" type="xs:string" />
      <xs:element name="defensor" type="xs:string"/>
      <xs:element name="delantero" type="xs:string" minOccurs="0"/>
      <xs:element name="medio" type="xs:string"/>
    </xs:all>
  </xs:complexType>
</xs:element>
</xs:schema>
